<h1>Listing Locations</h1>

<%= link_to 'New Location', new_preload_path %>
 
<table>
  <tr>
    <th>Location by Zip</th>
  </tr>
 
  <% @active.each do |preload| %>
    <tr>
      <td><%= preload.title %></td>
      <td><%= link_to 'Show', preload_path(preload.id) %></td>
    </tr>
  <% end %>
</table>
