// Place all the styles related to the active controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 75%;
}
p {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size: 140%;
}
input[type=text] {
    width: 25%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}
textarea {
    width: 25%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button], input[type=submit] {
    background-color: purple;
    float: left;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}